[user]
    name = Brett Lentz
    # email = blentz@users.noreply.github.com
    # email = brett.lentz@gmail.com
    email = brett.lentz@usehatchapp.com
    signingkey = FD04D6D695EAB0BD45F2B9F5FE4398A2338EF8C8

[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
    pager = true

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = brightred bold
    new = green bold

[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[core]
    pager = delta
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
    editor = nvim
    excludesfile = ~/.gitignore

[interactive]
    diffFilter = delta --color-only

[delta]
    syntax-theme = DarkNeon

[alias]
    add = add --all
    br = branch -vv
    ch = cherry-pick -x
    ci = commit -v
    co = checkout
    diffc = diff --cached
    diffstat = diff --stat
    log1 = log --oneline
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lolt = log --graph --decorate --pretty=format:'%C(red)%h%Creset %C(bold blue)%an%Creset %C(blue)<%ae>%Creset %Cgreen(%cr)%Creset%C(yellow)%d%Creset%n%s%n' --abbrev-commit --date=relative
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    st = status
    tag = tag -a
    merge-to = "!f() { export tmp_branch=git branch | grep '* ' | tr -d '* '; git checkout $1 && git merge --no-ff $tmp_branch && git checkout $tmp_branch; unset tmp_branch; }; f"

[branch]
    autosetuprebase = always

[merge]
    conflictstyle = zdiff3
    ;tool = /usr/local/bin/meld

[receive]
    denyDeleteCurrent = warn

[push]
    default = matching

[pull]
    rebase = true

[http]
    sslVerify = false

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[fetch]
    prune = true

[commit]
    gpgsign = true
    verbose = true

[rerere]
    enabled = true

[gpg]
    program = /opt/homebrew/bin/gpg

[init]
    defaultBranch = main
	templateDir = /Users/blentz/.git-template
    # templateDir = /Users/brett.lentz/.git-template

[status]
    submoduleSummary = true

[diff]
    submodule = log
    tool = difft
    algorithm = histogram

[difftool]
    prompt = false

[difftool "difft"]
    cmd = /usr/local/bin/difft --display=inline --missing-as-empty --skip-unchanged "$LOCAL" "$REMOTE"

# Use a pager for large output, just like other git commands.
[pager]
    difftool = true

# [url "ssh://git@github.com/"]
#     insteadOf = https://github.com/

[transfer]
    fsckobjects = true

[fetch]
    fsckobjects = true

[receive]
    fsckobjects = true

[url "https://github.com/"]
    insteadOf = ssh://git@github.com/
